.libraby_section {
  background-color: #eeeeee;
  min-height: 700px;
  margin: 20px 0px;
  
}

/* library css style will be here */
.library{
    -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
  padding: 40px;
  color: #455a64;
  
}

.heading{
    
    font-size: 36px;
    
    margin-bottom: 20px;
}
.link{
    font-size: 24px;
    
    color: #455a64;
    
}
.sub_heading{
    font-size: 24px;
    
    
    text-decoration: underline;
    margin-top: 20px;

}
.resource_data{
    font-size: 18px;
    
   
}
.resource_data a{
    text-decoration: none;
    color: #455a64;
}


.form_name{
    font-size: 18px;  
    color: #455a64;
}

.download{
    color: #455a64;
    text-decoration: none;
    text-align: left;
   
    
}






















.addmisson_banner {
    margin-top: 20px;
  }
  
  .addmisson_text {
    background-color: #c3d136;
    padding: 20px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
  }
  
  .notice_board {
    padding: 40px 40px;
    -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
    margin-top: 20px;
  }
  .notice_heading {
    color: #c3d136;
  }
  .text {
    color: #455a64;
    font-size: 30px;
    line-height: 33px;
    font-weight: 400;
  }
  .department {
    -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
    padding: 20px 10px;
    margin: 30px 0px 10px 0px;
  }
  .department a {
    text-decoration: none;
    color: #455a64;
    padding: 13px 16px;
    display: block;
    font-size: 18px;
    transition: all 0.5s ease;
  }
  .department a:nth-child(odd) {
    background-color: #e3e3e3;
  }
  .department a:hover {
    background-color: #c3d136;
  }
  