.header {
  background-color: #455a64;
  height: 20%;
  border-bottom: 1px solid rgb(56, 55, 55);
}
.logo {
  height: 110px;
  width: 95px;
}
.name {
  width: 426px;
  height: 80px;
  margin-top: 20px;
}
