.header {
  background-color: #455a64;
  height: 15%;
  border-bottom: 1px solid rgb(56, 55, 55);
}
.logo {
  height: 110px;
  width: 98px;
}
.name {
  width: 428px;
  height: 69px;
  margin-top: 20px;
}
