

.forms_section {
    padding: 20px 20px ;
    -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);

}
.forms_heading{
    color: #C3D136;

}
.form_btn{
    padding: 5px 10px;
    background-color: #C3D136;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    border: none;
    cursor: pointer;
}