@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.bg-light {
  background-color: #455a64 !important;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #fff !important;
}
.menu_active {
  font-weight: bold;
  border-bottom: 2px solid #c3d136;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5) !important;
  padding: 10px;
  margin: 0 10px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff !important;
  background: #3d5059;
}

.mojib_pic {
  background-color: #fff;
  margin-bottom: 30px;
  text-align: left;
  overflow: hidden;
  padding: 15px;
  -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
}

.badge {
  margin-right: 10px;
  color: #000;

  float: left;
}
.list-group-item {
  padding: 0px 0px !important;
  background: none !important;
  border: none !important;
}
.list-group-item a {
  color: #455a64;
  list-style-type: none;
  text-decoration: none;
  float: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.sticky {
  z-index: 9999 !important;
}
.responsive {
  display: flex;
}

.responsive_events {
  padding: 40px ;
  -webkit-box-shadow: 3px 4px 15px -5px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 3px 4px 15px -5px rgba(0, 0, 0, 0.62);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.62);
 
}
@media only screen and (max-width: 600px) {
  .responsive {
    flex-direction: column;
    margin-left: 50px;
  }
  .responsive_events {
    flex-direction: column;
  }
 
}
